
square(size)
  width size
  height size

circle(size)
  square size
  border-radius 50%

place-center()
  display -webkit-box
  -webkit-box-pack center
  -webkit-box-align center

origin-center()
  -webkit-transform-origin center center

fill(ratio)
  width ratio
  height ratio

bg-blue = hsl(240,90,90)
bg-white = hsl(0,0,100)
bg-red = hsl(0,90,90)
